<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
  <Section Name="CosmosDB">
    <Parameter Name="PrimaryKey" IsEncrypted="true" Value="MIICXQYJKoZIhvcNAQcDoIICTjCCAkoCAQAxggFTMIIBTwIBADA3MCMxITAfBgNVBAMMGHRzbHJkYXRhZW5jaXBoZXJtZW50Y2VydAIQV1//EVTYvqxABljoo1olizANBgkqhkiG9w0BAQcwAASCAQAGneG8KpUpzC4FMlV93/zghp+GSkqNvhJ7mZrQAj8VtnKHIIZzKZEwf+CnEG9bBG2aAB9TQ6zTaYBXTUS46Z0Yf0vjPTc54XuWe9/RxUBISezeQWztJMc43GXTq20Oi2gHlQuKabP2RbK5+eEwm+1prNl59C7o+n3yNytWRGrMJ6OJCWgXacKGciLimeGPnPZ2Jv1zPoXal+B2vdcIjHjDIjILvRkrMA8woxKm/pAsALVZUfjvuOqYsc8HzhHgbI8/AmCA1NxEy6oyZY2V4PR+vDQ1pqG7U5prO+XVsB41897MA3V7g35D3S6/IX5Tja6ollNCHMmy3h1u6TR2muyxMIHtBgkqhkiG9w0BBwEwHQYJYIZIAWUDBAEqBBBT/6B/9/ljnUib06MW6BBygIHAZf7F3acDFQmL75vUjcV6WEpWbyE3uZpr003kpqDRqcDeQWNGiPmtAaQsuANOdXaktQj57I5+LY3GH/G3oEqlPGHWyMT5B+XflpzF3R7rplBvKqkdeagnD+zcNVx/nJxjBr/+JAOAPKjsdR7xGp1L+4GMMW720fJOh0/bgtxzAm+3mRlLSqUApIsfdLYBi4w087xmvhI9cayOmKRJzyODVCwW4UXCpQDeFgLOTkXVzPbn+IedJYo3NZAE/xnLFW1o" />
    <Parameter Name="Uri" IsEncrypted="true" Value="MIIB/AYJKoZIhvcNAQcDoIIB7TCCAekCAQAxggFTMIIBTwIBADA3MCMxITAfBgNVBAMMGHRzbHJkYXRhZW5jaXBoZXJtZW50Y2VydAIQV1//EVTYvqxABljoo1olizANBgkqhkiG9w0BAQcwAASCAQAALfp4aO+yn9Z31Fg2i9E9RSFfWi2s9QaPSsFE9bLQO9z3By1T2FljS1oBm1m5Pyt1OpG7AjUe9Ni8JIAY6E21qwm2mP6NxgFyjyk4Y2qWUczsPimobFTwZI/a7iX69AoUdLe+Jz29h2U5Xdc9EFYRw821cy7wiI3iq7CtRYvCHrkFfujAXYMg7dycDutnflZi7ct9+9JCKii8Xw09WWFIbvDptm7qwpr/0AtUmp3ingVgfXdMkE5qt6zqQ/0UOQFdtKnhwJiYyU6H1sQLO4dtIuWD2HsohdMR9rTPEHrahoGMv96Rrcc8xDGIwJnFHcdfayVg4hq81Zhy/KdI2v3lMIGMBgkqhkiG9w0BBwEwHQYJYIZIAWUDBAEqBBBxwEkNIVcoz30PVwWCwZFIgGBb4T0bXz1szThvRWcfVEIrGO85wCBIJXYCQzr5orRw6CzUFk+XCCshJ5cy6KtC+mGrmW7VuyqzzaAub7qcghBKIs/vw7XweH6lc+reunn49Tc2MJGgX5xt2Oq+XMoZ3XE=" />
  </Section>
</Settings>
