@font-face {
    font-family: "nta";
    src: url("/assets/fonts/light-2c037cf7e1-v1.eot");
    src: url("/assets/fonts/light-2c037cf7e1-v1.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/light-f38ad40456-v1.woff2") format("woff2"), url("/assets/fonts/light-458f8ea81c-v1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "nta";
    src: url("/assets/fonts/bold-fb2676462a-v1.eot");
    src: url("/assets/fonts/bold-fb2676462a-v1.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bold-a2452cb66f-v1.woff2") format("woff2"), url("/assets/fonts/bold-f38c792ac2-v1.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "ntatabularnumbers";
    src: url("/assets/fonts/light-tabular-498ea8ffe2-v1.eot");
    src: url("/assets/fonts/light-tabular-498ea8ffe2-v1.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/light-tabular-851b10ccdd-v1.woff2") format("woff2"), url("/assets/fonts/light-tabular-62cc6f0a28-v1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "ntatabularnumbers";
    src: url("/assets/fonts/bold-tabular-357fdfbcc3-v1.eot");
    src: url("/assets/fonts/bold-tabular-357fdfbcc3-v1.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/bold-tabular-b89238d840-v1.woff2") format("woff2"), url("/assets/fonts/bold-tabular-784c21afb8-v1.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

body {
    background: #005EA5;
    color: white;
}

a {
    text-decoration: underline;
}

#teacher-icon-div {
    text-align: center;
    margin-top: 40px;
}

#teacher-icon {
    max-height: 200px;
}

#hippo-icon {
    max-height: 18px;
}

#summary-footer {
    margin-top: 10vh;
    margin-bottom: 40px;
}

.emoji {
    font-size: 10rem;
}

.standout {
    color: #007B85 !important;
}

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "nta", Arial, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: bold;
}

h2 a {
    text-decoration: underline;
}

.big-icon {
    width: 80%;
}

.padd-top {
    padding-top: 20px;
}

#main-menu {
    padding: 20px;
}

.zurb-icon {
    color: #fff;
    font-size: 36px;
}

.scrollToTop {
    width: auto;
    height: auto;
    padding: 010px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background: rgba(255, 165, 0, 0.95);
    z-index: 999;
}

.scrollToTop:hover {
    text-decoration: none;
    color: #fcfcfc;
    background: darkorange;
    transition: 0.2s;
}

.patient-float {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
    background: #003087;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(148, 148, 148, 1);
    box-shadow: 0px 5px 20px 0px rgba(148, 148, 148, 1);
}

.green {
    color: #007B85;
}

.button.hollow:hover {
    background: #00519e;
    color: white;
    transition: 0.2s;
}

.button.hollow.secondary {
    border-color: white;
    color: white;
}

.button.hollow.secondary:hover {
    border-color: white;
    background: white;
    color: #005EA5;
    transition: 0.2s;
}

#select-secondary-menu {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    border-color: #ffb81c;
    border-width: 2px;
}

#page-head {
    margin-top: 5vh;
    text-align: center;
}

.page-head-selected {
    color: white;
    background: #00519e;
    padding: 0px 5px;
    border-radius: 5px;
}

.page-head-selected:hover {
    color: white !important;
    background: rgba(255, 165, 0, 0.9);
}

#masthead-2 {
    background: white;
}

.summary-label {
    font-size: 9px;
    text-transform: uppercase;
    color: #ccc;
    font-weight: bold;
    line-height: 1;
}

.summary-info {
    font-size: 12px;
    font-weight: 500;
    color: #fff !important;
}

.summary-panel {
    margin-bottom: 10px;
}

.panel-label {
    font-size: 9px;
    text-transform: uppercase;
    color: #aaa;
    font-weight: bold;
    line-height: 1;
}

.panel-info-group {
    margin-bottom: 20px;
    padding-right: 40px;
}

.panel-info {
    font-size: 18px;
    font-weight: 500;
    color: #425563;
    padding-bottom: 40px;
}

.panel-info-none {
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    font-style: italic;
}

.panel-info-note {
    font-size: 10px;
    font-weight: 300;
    color: #aaa;
    font-style: italic;
}

.research-panel {
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(240, 240, 240, 1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(240, 240, 240, 1);
    box-shadow: 10px 10px 20px 0px rgba(240, 240, 240, 1);
}

.theme-cell {
    background: #fff;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(240, 240, 240, 1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(240, 240, 240, 1);
    box-shadow: 10px 10px 20px 0px rgba(240, 240, 240, 1);
}

.future {
    padding-top: 10px;
    border-top: 5px solid #f0f0f0;
}

@media screen and (min-width: 1023px) {
    .future {
        padding-left: 10px;
        padding-top: 0px;
        border-top: 0px solid #f0f0f0;
        border-left: 5px solid #f0f0f0;
    }
}

#content-wrapper {
    margin-top: 30px;
}

#in-page-nav {
    font-size: 14px;
}

#in-page-nav-2 {
    font-size: 14px;
    padding: 20px 10px;
}

#in-page-nav-inner {
    border-right: 0px solid #ddd;
}

#in-page-nav-inner-2 {
    padding-bottom: 40px;
    border-bottom: 0px solid #ddd;
}

#in-page-content-2 {
    padding: 10px;
}

#patient-summary.is-stuck {
    font-size: 8px !important;
    padding: 2px;
    transition: 0.2s;
}

#flags {
    padding: 20px 0px;
    color: white;
    margin-top: 20px;
}

.flag-circle {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 0 auto;
}

.flag-circle-tab {
    height: 36px;
    width: 36px !important;
    border-radius: 50%;
}

.red,
.alert,
.badge.alert {
    background: red;
    border: 1px solid white;
}

.orange {
    background: #F5A623;
}

.grey {
    background: #5C6D7A;
}

.faded {
    opacity: 0.1;
}

.flag-label {
    font-size: 10px;
    text-align: center;
}

.badge {
    position: relative;
    top: -2px;
    padding-top: 2px;
    padding-bottom: 4px;
    color: white !important;
    min-width: 18px;
    min-height: 18px;
}

.is-active {
    background: #005EB8;
    color: white !important;
    border-radius: 5px;
}

a.is-active:hover {
    color: white !important;
}

li.accordion-item.is-active {
    background: #005EB8;
}

.accordion-content {
    background: #eee;
    color: #415564;
}

.accordion-title {
    color: white;
    background: #768692;
}

#patient-summary {
    padding: 10px 0px;
    margin-bottom: 20px;
    background: #003087;
    line-height: 0.9;
}

#patient-summary-2 {
    padding: 20px;
    margin-bottom: 20px;
    background: #425563;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 200px;
}

#50-content {
    padding: 20px;
    height: 100%;
    overflow: scroll;
}

table {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
}

tr {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,f0f4f5+100 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(240, 244, 245, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(240, 244, 245, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(240, 244, 245, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f4f5', GradientType=0);
    /* IE6-9 */
}

#tabbies {}

.tabby {
    width: 100%;
    border-radius: 0px;
    color: #425563;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 5px;
    border: 1px solid #ddd;
    background: transparent;
    min-height: 60px;
    margin-bottom: 0;
    padding-top: 20px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
    box-shadow: 0px 5px 5px 0px rgba(224, 224, 224, 1);
}

.tabby-inactive {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,fcfcfc+1,f0f0f0+100 */
    background: rgb(240, 240, 240);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(240, 240, 240, 1) 0%, rgba(252, 252, 252, 1) 1%, rgba(240, 240, 240, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(240, 240, 240, 1) 0%, rgba(252, 252, 252, 1) 1%, rgba(240, 240, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(240, 240, 240, 1) 0%, rgba(252, 252, 252, 1) 1%, rgba(240, 240, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    opacity: 0.7;
}

.tabby-inactive:hover,
.tabby-active:hover {
    background: #003087;
    border: 2px solid #003087;
    transition: 1.0s;
    opacity: 1;
}

.tabby:active {
    background: rgb(0, 48, 135);
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 48, 135, 1) 0%, rgba(0, 94, 184, 1) 1%, rgba(0, 48, 135, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 48, 135, 1) 0%, rgba(0, 94, 184, 1) 1%, rgba(0, 48, 135, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0, 48, 135, 1) 0%, rgba(0, 94, 184, 1) 1%, rgba(0, 48, 135, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003087', endColorstr='#003087', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    ;
    transition: 0.2s;
}

.tabby-active {
    background: #005EB8;
    color: white;
    border: 2px solid #005EB8;
}

.fieldset {
    background: #fff;
    border: 1px solid #ddd;
}

.fieldset legend {
    background: #425563;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.dropdown.menu a {
    font-size: 14px;
}

.info-section {
    padding-bottom: 30px;
    border-bottom: 0px solid #ddd;
}

#tab-wrapper {
    padding: 0;
}

h3 {
    font-weight: 900;
}

th {
    text-align: left;
    background-color: #768692;
    color: white;
    font-size: 90%;
    vertical-align: top !important;
}

table tbody tr:nth-child(even) {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(240, 244, 245, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(240, 244, 245, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(240, 244, 245, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f4f5', GradientType=0);
    /* IE6-9 */
}

table.hover tbody tr:hover,
table.hover:not(.unstriped) tr:nth-of-type(even):hover {
    background: #e6eff8;
}

td {
    font-size: 85%;
    vertical-align: top;
}

label {
    font-weight: bold;
    color: #415564;
}

.callout,
.callout.primary {
    color: #415564 !important;
    border: 0px;
}

.nav-panel {
    /*  border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center; */
    margin-bottom: 20px;
}

.big-font {
    font-size: 24px;
    text-align: center;
}

#footer {
    color: white;
    padding: 20px;
    font-size: 14px;
}

.timeline .timeline-item::after,
.timeline .timeline-item::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
}

.timeline {
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    transition: all 0.25s ease-in;
    width: 100%;
}

.timeline::before {
    background: rgba(66, 85, 99, 0.3);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
}

.timeline::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
}

.timeline a {
    font-weight: bold;
    transition: all 0.25s ease-in;
    text-decoration: underline;
}

.timeline a:hover {
    box-shadow: 0 1px 0px 0px #fefefe;
    transition: all 0.25s ease-in;
}

.timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}

.timeline .timeline-item .timeline-icon {
    background: #005EB8;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin-left: -23px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50px;
}

.timeline-icon {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
    left: 14px;
    position: relative;
    top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
    top: 14px;
}

.timeline .timeline-item .timeline-content {
    padding: 20px;
    text-align: left;
    transition: all 0.25s ease-in;
    width: 100%;
    background: transparent;
}

.timeline-content-not-icon {
    margin-top: 60px;
}

.timeline .timeline-item .timeline-content p {
    color: #425563;
}

.timeline .timeline-item .timeline-content p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
    float: right;
    text-align: left;
}

.timeline-item {
    margin-bottom: 120px !important;
}

@media screen and (max-width: 39.9375em) {
    .timeline {
        margin: 30px;
        padding: 0;
        width: 90%;
    }
    .timeline::before {
        left: 0;
    }
    .timeline .timeline-item .timeline-content {
        float: right;
        text-align: left;
        width: 100%;
    }
    .timeline .timeline-item .timeline-content::before,
    .timeline .timeline-item .timeline-content.right::before {
        border-left: 0;
        border-right: 7px solid #fefefe;
        left: 10%;
        margin-left: -6px;
    }
    .timeline .timeline-item .timeline-icon {
        left: 0;
    }
    .text-right {
        text-align: left;
    }
    .padd-top {
        padding-top: 0px;
    }
    .timeline-content-not-icon {
        margin-top: 10px;
    }
}

#what-weve-done,
#what-weve-learned,
#what-weve-learned-2,
#what-weve-learned-mpr {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.0;
}

.really-big {
    font-weight: bold;
    font-size: 64px;
}

.really-really-big {
    font-size: 18vh;
    font-weight: bold;
    letter-spacing: -2px;
}

@media print,
screen and (min-width: 40em) {
    .summary-label {
        font-size: 10px;
    }
    .summary-info {
        font-size: 14px;
    }
    .summary-panel {
        margin-bottom: 0px;
    }
    #patient-summary {
        padding: 10px 0px;
        line-height: 1.2;
    }
    #in-page-nav-2 {
        height: 100vh;
    }
    #in-page-nav-inner-2 {
        border-bottom: 0px solid #ddd;
    }
    #in-page-content-2 {
        padding: 30px;
    }
    #tab-wrapper {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
    #tabbies {
        margin-top: 26px;
    }
    .tabby {
        width: 100%;
        height: 70px;
        border: 0px solid #768692;
        border-top: 8px #005EB8 solid;
        border-radius: 0px;
        background: transparent;
        color: #425563;
        font-weight: 700;
        font-size: 14px;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(224, 224, 224, 1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(224, 224, 224, 1);
        box-shadow: 0px 0px 0px 0px rgba(224, 224, 224, 1);
        transition: 0.2s;
    }
    .tabby-active {
        border-left: 1px solid rgba(65, 85, 99, 0.2) !important;
        border-right: 1px solid rgba(65, 85, 99, 0.2) !important;
    }
    .tabby-inactive {
        border-bottom: 1px solid rgba(65, 85, 99, 0.2);
        border-right: 2px solid white;
        border-top: 8px #eee solid !important;
        padding: 20px;
        background: #f0f0f0 !important;
        color: #7DB6E0;
    }
    .tabby-no-tab {
        border-bottom: 1px solid rgba(65, 85, 99, 0.2);
        border-top: 0px;
        padding: 19px;
        background: transparent;
    }
    .tabby-no-tab:hover {
        border-bottom: 1px solid rgba(65, 85, 99, 0.2);
        border-top: 0px;
        padding: 19px;
        background: transparent;
    }
    .tabby-inactive:hover {
        border: 0px solid #003087;
        border-bottom: 1px solid rgba(65, 85, 99, 0.2);
        border-right: 2px solid white;
        border-top: 8px #4c92d9 solid;
        transition: 0.2s;
        background: #eee;
        color: #0072C6;
    }
    .tabby-active:hover {
        background: #fafafa;
        color: #425563;
        border-left: 1px solid rgba(65, 85, 99, 0.2) !important;
        border-right: 1px solid rgba(65, 85, 99, 0.2) !important;
        border-bottom: 0px;
        border-top: 8px #005eb8 solid;
        transition: 0.2s;
    }
    th {
        font-size: 100%;
    }
    td {
        font-size: 90%;
    }
    #what-weve-done,
    #what-weve-learned,
    #what-weve-learned-2,
    #what-weve-learned-mpr {
        text-align: center;
        font-size: 8vmax;
        line-height: 1.0
    }
    .really-big {
        font-size: 10vmax;
        line-height: 7vmax;
        font-weight: bold;
        letter-spacing: -4px;
    }
    .really-really-big {
        font-size: 18vmax;
        line-height: 12vmax;
        font-weight: bold;
        letter-spacing: -4px;
    }
    .nudge-up {
        position: relative;
        top: -60px;
    }
}

@media print,
screen and (min-width: 1281px) {
    #tab-wrapper {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Responsive tables */

.responsive-card-table {
    border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
    background-color: transparent;
}

.responsive-card-table th {
    background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
    border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
    .responsive-card-table {}
    .responsive-card-table thead tr {
        position: absolute;
        top: -9999em;
        left: -9999em;
    }
    .responsive-card-table tr {
        border: 1px solid #0a0a0a;
        display: block;
    }
    .responsive-card-table tr + tr {
        margin-top: 1.5rem;
    }
    .responsive-card-table td {
        border: none;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #0a0a0a;
        padding-left: 50%;
        position: relative;
    }
    .responsive-card-table td:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .responsive-card-table td:after {
        content: '';
        position: absolute;
        background: #e6e6e6;
        width: 45%;
        height: 95%;
        left: 1px;
        top: 1px;
        z-index: 0;
    }
}
